.partners_bg{
  h1{
    position: relative;
    display: inline;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;

    &::before{
      content: "";
      display: inline;
      width: 120%;
      height: 100%;
      background-image: url("/images/enterprise/gitlab-partners.svg");
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      top: -20px;
      left: -10%;
    }
  }

  p{
    max-width: 730px;
    margin: auto;

    &.description{
      margin-top: 9px;
    }
  }
}

h3, .h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}

p, .p{
  font-size: 16px;
  line-height: 24px;
}

h2, .h2{
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
}

.gray_half_bg{
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    display: block;
    background: #F8F8F8;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 30%;
    z-index: -1;
  }
}

.vertical-margin_bg{
  margin-top: 18px;

  &::before{
    content: "";
    display: block;
    height: 61px;
    background-image: url(/images/enterprise/gitlab-vertical-space.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
  

  h2{
    margin-top: 18px;
  }

  .feature-list-top-section h3{
    display: none;
  }

  .cmp-feature-list .feature-list-feature-section .feature-list-item{
    text-align: left;
    box-shadow: 0px 2px 50px 0px #00000014;

    ul{
      display: none;
    }

    .feature-list-icon{
      max-width: 30px;
    }
  }

  & > p{
    max-width: 737px;
    margin: auto;
    margin-bottom: 60px;
  }

  .feature-list-feature-section .feature-list-item h2 {
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .highlight-gray{
    background: unset;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    span:not(.btn){
      color: inherit;
    }
  }
}

.platform-partners{
  display: flex;
  flex-wrap: wrap;

  .partner{
    padding: 0 15px;
    display: inline-grid;

    &:first-child{
      padding-left: 0;
    }

    &:last-child{
      padding-right: 0;
    }

    a{
      display: flex;
      padding: 25px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-sizing: border-box;
      border-radius: 4px;
      position: relative;
      overflow: hidden;

      .circle-hover {
        position: absolute;
        bottom: -10px;
        right: -10px;
        background: #656565;
        padding: 0.5rem 1rem;
        border-radius: 50% 0 0 0%;
        width: 30px;
        height: 30px;
        display: none;

        .arrow {
          position: absolute;
          top: 0px;
          left: 5px;
          font-size: 14px;
          color: #fff;
        }
      }
    }

    img{
      width: 100%;
    }
  }
}

.cmp-cta-contact p{
  font-weight: normal;
  font-size: 16px; 
  line-height: 24px;
}



@media (max-width: 960px) {
  .platform-partners{
    .partner{
      width: 33.33%;
      min-height: 270px;

      &:first-child{
        padding-left: 15px;
      }

      &:last-child{
        padding-right: 15px;
      }
    }
  }

  .container2020 .btn:not([class*=u-margin-right]){
    margin-left: unset;
  }
}

@media (max-width: 767px) {
  .partners_bg{
    margin-top: 60px;

    h1{
      font-size: 36px;
      line-height: 44px;
    }
  }

  h2, h3{
    font-size: 24px;
    line-height: 30px;
  }

  .gray_half_bg::after{
    top:15%;
  }

  .platform-partners{
    .partner{
      width: 50%;
      min-height: 240px;
    }
  }

  .vertical-margin_bg > p{
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .platform-partners{
    .partner{
      width: 50%;
      min-height: 180px;
    }
  }
}

@media (max-width: 375px) {
  .platform-partners{
    .partner{
      width: 50%;
      min-height: 140px;
    }
  }
}

a.highlight-gray:not(.btn):not(.slp-btn), 
a.highlight-gray:not(.btn):not(.slp-btn):active, 
a.highlight-gray:not(.btn):not(.slp-btn):hover, 
a.highlight-gray:not(.btn):not(.slp-btn):focus{
  color: #7D2BD9;
}