.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h3.margin-top0
      Unified deployment and monitoring strategies
    %p
      GitLab provides the ability to visualize and manage your entire application delivery process from a single application. Determine what goes into production (
      %a{href: "https://docs.gitlab.com/ee/ci/review_apps/"}via Review Apps
      ), what to deploy to production (via
      %a{href: "https://docs.gitlab.com/ee/operations/feature_flags.html"}Feature Flags
      ), who to deploy it to (via
      %a{href: "https://docs.gitlab.com/ee/ci/environments/incremental_rollouts.html"}Progressive Delivery
      and advanced deployment strategies like
      %a{href: "https://docs.gitlab.com/ee/user/project/canary_deployments.html"}Canary
      ), how is my deployment performing (via
      %a{href: "https://docs.gitlab.com/ee/user/project/merge_requests/browser_performance_testing.html"}browser performance testing,
      %a{href: "https://docs.gitlab.com/ee/operations/metrics/"}performance monitoring
      and
      %a{href: "https://docs.gitlab.com/ee/operations/tracing.html"}tracing
      ),
      %a{href: "https://docs.gitlab.com/ee/ci/environments/#retrying-and-rolling-back"}rollback deployment based on performance
      (via post deployment monitoring), and achieve a feedback loop (via 
      %a{href: "https://docs.gitlab.com/ee/operations/incident_management/"}incident management
      ).

  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/ihdxpO5rgSc", :width => "500"}
